.ol-popup {
  position: absolute;
  background: white;
  border-radius: 8px;
  padding: 10px 12px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  min-width: 200px;
  max-width: 300px;
  transform: translateY(-15px);
  display: none;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
}

.ol-popup-closer:hover {
  color: #000;
}

/* locate me button css */

#locate-btn {
  /* background: rgba(0, 150, 255, 0.8); */
  background: rgba(15, 102, 12, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 10px 12px;
  cursor: pointer;
  transition: all 0.2s ease;
  color: black;
  font-weight: 500;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#locate-btn.active {
  background: rgba(0, 255, 150, 0.9);
  box-shadow: 0 0 10px rgba(0, 255, 150, 0.6);
}

.legend-label-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.expand-btn {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 14px;
  margin-right: 4px;
}

.sub-legend {
  display: none;
  flex-direction: column;
}

.sub-legend-item {
  font-size: 13px;
  color: #000000;
}

div .sub-legend{
  top: 40px;
}

/* General style for all OpenLayers tooltips */
.ol-tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.8;
    white-space: nowrap;
    font-size: 12px;
    cursor: default;
    user-select: none;
}

/* Style for the tooltip while actively drawing (in-progress) */
.ol-tooltip-measure:before {
    content: "";
    position: absolute;
    bottom: -6px; /* Position the caret below the text */
    left: 50%;
    margin-left: -7px;
    border-top: 7px solid rgba(0, 0, 0, 0.5);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

/* Style for the finalized measurement tooltip */
.ol-tooltip-static {
    background-color: #ffcc33; /* Matches your line color */
    color: black;
    border: 1px solid white;
    font-weight: bold;
    /* Remove the default caret style */
}

/* Override caret color for the static tooltip */
.ol-tooltip-static:before {
    border-top-color: #ffcc33;
}