#dashboard-panel{
    display: none; 
            position: absolute; 
            top: 100px;
            right: 20px;
            width: 300px;
            min-height: 180px;
            z-index: 1000;
            background: rgba(6, 44, 1, 0.15);
            backdrop-filter: blur(10px);
            box-shadow: 0 2px 6px #00000022;
            border-radius: 12px;
            padding: 12px;
            transition: box-shadow 0.2s;
}

#dashboard-header{
    font-weight:bold; 
    font-size:12px; 
    letter-spacing:0.5px;
    color: white;
}

#dashboard-close-btn{
   font-size:16px; 
   background:none; 
   border:none; 
   color:#ffffff; 
   cursor:pointer; 
   font-weight:bold;
}

#dashboard-close-btn:hover{
    color:#ff4444;
}

#dashboard-asset-chart{
    width:"300";
    height:"120";
}

#dashboard-type-chart{
    width:"300"; 
    height:"80";
    margin-top:10px;
}

#condition-summary{
    margin-top:10px; 
    font-size:11px; 
    text-align:center;
}

@media (max-width: 800px){
      .toolbar-content.active-chart {
    position: middle;
    align-items: middle;
    gap: 8px;
    width: 100%;
  }

   #districtFilter.active-chart,
  #filterBy.active-chart,
  .search-wrapper.active-chart,
  #resetButton.active-chart {
    width: 100% !important;
  }
  
  .toolbar-title.active-chart {
    font-size: 15px;
    margin-bottom: 4px;
  }
    #dashboard-panel{
    display: none; 
                position: absolute; 
                top: 50px;
                right: 10px;
                width: 200px;
                min-height: 240px;
                z-index: 1000;
                background: rgba(6, 44, 1, 0.15);
                box-shadow: 0 2px 6px #00000022;
                backdrop-filter: blur(10px);
                border-radius: 12px;
                padding: 15px 15px 10px 15px;
                transition: box-shadow 0.2s;
    }

      .toolbar.active-chart{
     bottom: auto;
    top: 10px;
    left: 35%;
    width: 150px;
  }



}

@media (max-width: 500px){
    #dashboard-panel{
    display: none; 
                position: absolute; 
                top: 10px;
                right: 10px;
                width: 150px;
                min-height: 300px;
                z-index: 1000;
                background: rgba(6, 44, 1, 0.15);
                box-shadow: 0 2px 6px #00000022;
                backdrop-filter: blur(10px);
                border-radius: 12px;
                padding: 18px 18px 12px 18px;
                transition: box-shadow 0.2s;
    }
}

